<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        #{stylesheet 'log4play.css', media:'screen' /}
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link rel="apple-touch-icon" type="image/png" href="@{'/public/images/favicon.png'}">
        #{script 'jquery-1.5.2.min.js' /}
        #{script 'modernizr.custom.js' /}
        #{script 'jquery.scrollTo-min.js' /}
        #{script 'jquery.tmpl.js' /}
        #{script 'knockout-1.2.0.js' /}
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
